.project {
    background-color: inherit;
    color: black;
    border: 1px solid hsl(0, 0%, 70%);
    text-decoration: none;
    width: 100%;
    margin: 0 auto; 
    padding: 3em;
    border-radius: 1em;
    font-size: .9em;
    transition: all ease 0.3s;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
        background-color: hsl(0, 0%, 80%);
        border: 1px solid hsl(0, 0%, 80%);
    }
}
.project .actions {
    justify-content: center;
}
.project .actions a, .project .actions button {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
    margin: 0;
    transition: all ease 0.3s;
    padding: 1em;
    border-radius: 100%;
    border: none;
    background-color: inherit;
    width: 70px;
    height: 70px;

    &:hover {
        background-color: black;
        color: white;
        cursor: pointer;
    }
}
.project div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}