.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: black;
}
.menu .botao {
    text-align: center;
    text-decoration: none;
    color: white;
    width: 100%;
    padding: 20px;
    transition: all ease 0.2s;
    &:hover {
        background-color: gold;
        color: black
    }
}