.container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}

.min-height {
  min-height: 75vh;
}

.start {
  justify-content: flex-start;
}

.column {
  flex-direction: column;
  justify-content: flex-start;
}