.btn {
    padding: 1em;
    text-decoration: none;
    transition: 0.5s ease;
}
.black {
    color: white;
    background-color: #222;
    &:hover {
        color: gold;
    }
}
.gold {
    color: black;
    background-color: gold;
    &:hover {
        background-color: hsl(51, 100%, 40%);
    }
}